# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement de développement
.env

# Dossier de build (si applicable)
.nuxt/
dist/
build/

# Système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de cache
.cache/
